<!DOCTYPE html>
<html>
<head>
	<title>Auto Complete - Movie Search - SF</title>
	<link rel="stylesheet" type="text/css" href="/static/default.css">
</head>
<body>
	<div id="header"></div>
	<div id="content">
		<h1>Welcome! Search for all SF Movie listings</h1>
		<div>
			<form method="GET" action="{% url 'get-movie-coordinates' %}" id="search-form">
				<input type="text" id="search-value" name="search-value" placeholder="Search for movies..." value="" />
				<button id="search-submit">Search</button>
			</form>
		</div>

		<div id="search-result-container"></div>
	</div>
	<div id="footer"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/default.js" async></script>
</body>
</html>